@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; // hsl(0, 0%, 100%)
    --foreground: 0 0% 3.9%; // hsl(0, 0%, 3.9%)

    --card: 0 0% 100%; // hsl(0, 0%, 100%)
    --card-foreground: 0 0% 3.9%; // hsl(0, 0%, 3.9%)

    --popover: 0 0% 100%; // hsl(0, 0%, 100%)
    --popover-foreground: 0 0% 3.9%; // hsl(0, 0%, 3.9%)

    --primary: 231 93% 62%; // hsl(231, 93%, 62%)
    --primary-foreground: 0 0% 98%; // hsl(0, 0%, 98%)

    --secondary: 201 9% 10%; // hsl(201, 9%, 10%)
    --secondary-foreground: 0 0% 100%; // hsl(0, 0%, 100%)

    --muted: 0 0% 96.1%; // hsl(0, 0%, 96.1%)
    --muted-foreground: 0 0% 45.1%; // hsl(0, 0%, 45.1%)
    --accent: 0 0% 96.1%; // hsl(0, 0%, 96.1%)
    --accent-foreground: 0 0% 9%; // hsl(0, 0%, 9%)

    --destructive: 0 84.2% 60.2%; // hsl(0, 84.2%, 60.2%)
    --destructive-foreground: 0 0% 98%; // hsl(0, 0%, 98%)

    --custom-background: 228 45% 98%; // hsl(228, 45%, 98%)
    --custom-accent: 200 95% 9%; // hsl(200, 95%, 99%)
    --custom-accent-foreground: 228 4% 36%; // hsl(228, 4%, 36%)

    --contrast: 0 0% 100%; // hsl(0, 0%, 100%)
    --border: 0 0% 89.8%; // hsl(0, 0%, 89.8%)
    --input: 0 0% 89.8%; // hsl(0, 0%, 89.8%)
    --ring: 0 0% 3.9%; // hsl(0, 0%, 3.9%)

    --inactive: 0 0% 70%; // hsl(0, 0%, 70%)

    --radius: 2.125rem;
  }

  .dark {
    --background: 0 0% 3.9%; // hsl(0, 0%, 3.9%)
    --foreground: 0 0% 98%; // hsl(0, 0%, 98%)
    --background-accent: 0 0% 3.9%; // hsl(0, 0%, 8.8%)
    --card: 0 0% 3.9%; // hsl(0, 0%, 3.9%)
    --card-foreground: 0 0% 98%; // hsl(0, 0%, 98%)

    --popover: 0 0% 3.9%; // hsl(0, 0%, 3.9%)
    --popover-foreground: 0 0% 98%; // hsl(0, 0%, 98%)

    --primary: 0 0% 98%; // hsl(0, 0%, 98%)
    --primary-foreground: 0 0% 9%; // hsl(0, 0%, 9%)

    --secondary: 201 9% 10%; // hsl(201, 9%, 10%)
    --secondary-foreground: 0 0% 98%; // hsl(0, 0%, 98%)

    --muted: 0 0% 14.9%; // hsl(0, 0%, 14.9%)
    --muted-foreground: 0 0% 63.9%; // hsl(0, 0%, 63.9%)

    --accent: 0 0% 14.9%; // hsl(0, 0%, 14.9%)
    --accent-foreground: 0 0% 98%; // hsl(0, 0%, 98%)

    --destructive: 0 62.8% 30.6%; // hsl(0, 62.8%, 30.6%)
    --destructive-foreground: 0 0% 98%; // hsl(0, 0%, 98%)

    --border: 0 0% 14.9%; // hsl(0, 0%, 14.9%)
    --input: 0 0% 14.9%; // hsl(0, 0%, 14.9%)
    --ring: 0 0% 83.1%; // hsl(0, 0%, 83.1%)

    --contrast: 0 0% 0%; // hsl(0, 0%, 0%)

    --custom-background: 240 10% 3.9%; // hsl(0, 0%, 9%)
    --custom-accent: 0 0% 98%; // hsl(0, 0%, 95%)
    --custom-accent-foreground: 228 4% 60.2%; // hsl(228, 4%, 60.2%)
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
